@import "../style/themes/basic-theme";

ngx-card-page-title {
  display: block;
  padding: 10px 10px 2px;

  /*if is radius*/
  border-radius: .9rem .9rem 0 0;
  border-bottom: 0.5px solid var(--border-primary-color);
}
