@import "../style/themes/basic-theme";
.ngx-card__container {
  box-shadow: 0px 0px 7px 1px rgba(74, 115, 159, 0.29);
  border-radius: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  //width: 18rem;
}

.ngx-card__body {
  //flex: 1 1 auto;
  //min-height: 1px;
  padding: 1.25rem;
}

@each $name, $color in $colors {
  .#{$name} {
    background-color: $color;
  }
}


//position: relative;

//min-width: 0;
//word-wrap: break-word;
//background-color: #fff;
//background-clip: border-box;
//border: 1px solid rgba(0, 0, 0, 0.125);
//border-radius: 0.25rem;
