@import "../../style/themes/basic-theme";

 .ngx-switch__box {
   position: relative;
   display: inline-block;
   width: 48px;
   height: 23px;
 }
 .ngx-switch__box input {
   opacity: 0;
   width: 0;
   height: 0;
 }

 .slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 21px;
   width: 21px;
   left: 2px;
   bottom: 1px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }

@each $name, $color in $colors {
  input:checked {
    & + .#{$name} {
      background-color: $color;
    }
  }
}

@each $name, $color in $colors {
  input:focus {
    & + .#{$name} {
      box-shadow: 0 0 1px $color;
    }
  }
}

 input:checked + .slider:before {
   -webkit-transform: translateX(24px);
   -ms-transform: translateX(24px);
   transform: translateX(24px);
 }

 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }

 .slider.round:before {
   border-radius: 50%;
 }
