@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

//:host ::ng-deep .padding-test {
//  .ngx-tree-node__box {
//    padding-left: 30px;
//  }
//  .is-select {
//    background-color: black;
//  }
//}

.add-container__padding {
  padding: 20px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}



@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}



@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
