<p>playground works!</p>

<!--<div class="container">-->
<!--  <div class="add-container__padding">-->
<!--    <ngx-tree>-->
<!--      <ng-container *ngFor="let item of items; index as childId">-->
<!--        <ngx-tree-node #treeChild (clickEvent)="onChangeState(childId)">-->
<!--          <button>-->
<!--            <ngx-icon-default icon [icon]="'arrow' "></ngx-icon-default>-->
<!--            {{ item.label }}-->
<!--          </button>-->
<!--        </ngx-tree-node>-->
<!--        <ng-container *ngIf="item.children && childTreeState?.get(childId)?.isExpanded">-->
<!--          <ngx-tree-node class="padding-test" *ngFor="let chItem of item.children" (clickEvent)="onCLick(chItem)">-->
<!--            <button [routerLink]="['./', chItem.data]" routerLinkActive="is-select">-->
<!--              <ngx-icon-default NgxPadding setSize="s" icon></ngx-icon-default>-->
<!--              {{ chItem.label }}</button>-->
<!--          </ngx-tree-node>-->
<!--        </ng-container>-->
<!--      </ng-container>-->
<!--    </ngx-tree>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <ngx-card>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at cupiditate ea error et fuga id incidunt, ipsa libero natus nihil nisi obcaecati optio perferendis quam sapiente sequi velit, veniam!</p>
  </ngx-card>


</div>

<router-outlet></router-outlet>
