body {
  background-color: #eeeeee;
  font-family: 'Helvetica';
  margin: 0px;
}


:root {
  --primary-color: #2196F3;
  --danger-color: #d32f2f;
  --grey-color: #eeeeee;
  --light-color: #ffffff;
}
