body {
  background-color: #eeeeee;
  font-family: 'Helvetica';
  margin: 0;
  font-size: 1.1rem;
}


:root {
  --primary-color: #2196F3;
  --danger-color: #d32f2f;
  --grey-color: #eeeeee;
  --light-color: #ffffff;
  --box-shadow-color: rgba(74, 115, 159, 0.29);
  --hover-primary-color: rgba(196, 195, 195, 0.58);
  --sidebar-background-color: rgba(255, 255, 255, 0.88);
  --nav-background-color: rgb(0, 117, 255);

  //borders
  --border-primary-color: 0.5px solid #444;
}
