
<h1>playground</h1>

<!--<form>-->
<!--  <ngx-toggle-switch [ngxColor]="'primary'" name="checkedValueTest" [(ngModel)]="checkedValue" (ngModelChange)="onChangeModel($event)"></ngx-toggle-switch>-->
<!--</form>-->

<ngx-card-page [ngxColor]="'primary'">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti dolor esse eum ipsam maiores maxime molestias nisi, nobis, optio repellat saepe veniam! Assumenda delectus deserunt iste natus quo, soluta? </p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti dolor esse eum ipsam maiores maxime molestias nisi, nobis, optio repellat saepe veniam! Assumenda delectus deserunt iste natus quo, soluta?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti dolor esse eum ipsam maiores maxime molestias nisi, nobis, optio repellat saepe veniam! Assumenda delectus deserunt iste natus quo, soluta?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti dolor esse eum ipsam maiores maxime molestias nisi, nobis, optio repellat saepe veniam! Assumenda delectus deserunt iste natus quo, soluta?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti dolor esse eum ipsam maiores maxime molestias nisi, nobis, optio repellat saepe veniam! Assumenda delectus deserunt iste natus quo, soluta?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti dolor esse eum ipsam maiores maxime molestias nisi, nobis, optio repellat saepe veniam! Assumenda delectus deserunt iste natus quo, soluta?</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid deleniti dolor esse eum ipsam maiores maxime molestias nisi, nobis, optio repellat saepe veniam! Assumenda delectus deserunt iste natus quo, soluta?</p>
</ngx-card-page>

<router-outlet></router-outlet>
